/*this is a CSS comment */
html {
  background-color: #ffffff;
}

h1, h2 {
  color: #79756f;
  font-family:georgia,sans-serif;

blockquote {
  font-style: italic;
  text-align: center;
}

ol {
  list-style-type:lower-roman;

<li>Mercury</li>
<li>Venus</li>
<li>Earth</li>
<li>Mars</li>



}

p {
  font-size= 0.8 rem;
}
