/*this is a CSS comment */
html {
  background-color: #d8b5ef;

  color:black
}

h1 {
  color: #3f0464;
  font-family:georgia,sans-serif;
  font-weight: 300;
  font-size: 3rem;
  text-align: left;
  line-height: 1;


}

h2 {

color: #3f0464;
font-family:georgia,sans-serif;
font-weight: 100;
font-size: 2rem;
text-align: left;
line-height: 1;

}

h3 {

  color: #3f0464;
  font-family:georgia,sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1;
}


p{

  color: #3f0464;
  font-family:georgia,sans-serif;
  font-weight: 50;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1;
}


nav{
  color: purple

}





blockquote {
  font-style: regular;
  text-align: center;
  font-size:1.3rem;
}

ol{
  list-style-type:lower-roman;
}

dt{

  font-weight: bold;

}
