/*this is a CSS comment */
html {
  background-color: #000000;


  color: #a40041;
}

h1, h2 {
  color: #a40041;
  font-weight: normal;
  font-size: 5rem;
  line-height: 1;
  text-shadow: 2px -5px 10px red;

  /*
  text shadow
  horizontal offset
  vertical offset
  blur radius/size
  colour
  */
}

p {
  font-style: italic;
  text-align: center;
  /*
  left
  center
  right
  justify
  */

  /*
  text-decoration: underline;
  text-decoration: line-through;
  */
  font-family: 'Oswald', sans-serif;
}

ol {
  list-style-type: disc;
  /*
  none
  lower-roman
  lower-alpha
  decimal
  circle
  disc
  */

  /*
  padding: 0;
  */
}

a {
  color: green;
}

a:hover {
  color: orange;
}
